<!-- 不蒜子访问统计 -->
{% if site.components.busuanzi.enabled == true and page.visit-stat != 'hidden' and page.layout != 'mindmap' %}
<div class="mobile-hidden" style="text-align:center;" >
  <span id="busuanzi_container_site_pv">本站总访问量:<span id="busuanzi_value_site_pv"></span>次/</span>
  <span id="busuanzi_container_site_uv">本站访客数<span id="busuanzi_value_site_uv"></span>人/</span>
  <span id="busuanzi_container_page_pv">本页访问量<span id="busuanzi_value_page_pv"></span>次/</span>
  {% if site.components.busuanzi.start_date %}
    统计始于{{ site.components.busuanzi.start_date }}
  {% endif %}
  <span id="htmer_time"></span>
</div>

<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script language=JavaScript>
  function secondToDate(second) {
      if (!second) {
          return 0;
      }
      var time = new Array(0, 0, 0, 0, 0);
      if (second >= 365 * 24 * 3600) {
          time[0] = parseInt(second / (365 * 24 * 3600));
          second %= 365 * 24 * 3600;
      }
      if (second >= 24 * 3600) {
          time[1] = parseInt(second / (24 * 3600));
          second %= 24 * 3600;
      }
      if (second >= 3600) {
          time[2] = parseInt(second / 3600);
          second %= 3600;
      }
      if (second >= 60) {
          time[3] = parseInt(second / 60);
          second %= 60;
      }
      if (second > 0) {
          time[4] = second;
      }
      return time;
  }
</script>
<!-- 动态显示网站运行时间 -->
<script type="text/javascript" language="javascript">
  function setTime() {
      var create_time = Math.round(new Date(Date.UTC(2018, 3, 12, 0, 0, 0)).getTime() / 1000);
      var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
      currentTime = secondToDate((timestamp - create_time));
      currentTimeHtml = '默默运行了' + currentTime[0] + '年' + currentTime[1] + '天' + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4] + '秒';
      document.getElementById("htmer_time").innerHTML = currentTimeHtml;
  }
  setInterval(setTime, 1000);
</script>
{% endif %}
